#locOneDisplay {
    background: blue;
}

#locTwoDisplay {
    background: blue;
}

.container {
    background: grey;
}

#mapArea {
    background: salmon;
    height: 100px;
}

#gameTitle{
    background: darkblue;
}

h1 {
    display: inline;
}

#locOneImg {
    width: 100%;
}