.container {
    background: grey;
}

.currentLocation {
    background: gold;
}

.avatar {
    background: dodgerblue;
}

.timeRemaining {
    background: darksalmon;
}

.locationChoice1 {
    background: darksalmon;
}

.locationChoice2 {
    background: darksalmon;
}

img {
    height: 168px !important;
    width: 168px !important;

}